body {
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
}

#content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	#left-container {
		flex: 1 40dvw;

		display: flex;
		flex-direction: column;

		button {
			padding: 8px 16px;
		}
	}

	#right-container {
		flex: 2 60dvw;
		height: 100%;
		overflow: hidden;
		position: relative;

		#capybara {
			position: absolute;
			top: 50%;
			right: 60px;
			transform: translateY(-50%);

			text-align: center;

			


			#capybara-body {
				background-color: rosybrown;
				width: 200px;
				height: 260px;
				text-align: center;
			}
		}

		#gamezone {
			position: absolute;
			inset: 0;
			height: 100%;

			pointer-events: none;

			.moving-input {
				position: fixed;
				pointer-events: auto;
			}
		}

		#moving-input {
			padding: 8px 16px;
			border-radius: 8px;
		}
		

	}

	.hidden {
		display: none !important
	}
}
